# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Third Person Shooter.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\TPS-Game\Third Person Shooter\.idea\.idea.Third Person Shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
